<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Camera Feed</title>
    <style>
        body {
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        #toggleButton {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Live Camera Feed</h1>
    <button id="toggleButton" onclick="toggleCamera()">Toggle Camera</button>
    <img id="liveCamera" src="{{ url_for('video_feed') }}" alt="Object Detection">
    <script>
        function toggleCamera() {
            var liveCamera = document.getElementById('liveCamera');
            if (liveCamera.style.display === 'none') {
                liveCamera.style.display = 'block';
            } else {
                liveCamera.style.display = 'none';
            }
        }
    </script>
</body>
</html>
